@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  color: white;
  background-color: black;
  width: 100%;
  min-width: 800px;
}
body .button {
  color: white;
  padding: 5px;
  font-style: bold;
  border: 2px solid navy;
  border-radius: 5px;
  background-color: navy;
  word-spacing: 0;
}
body .button:hover {
  background-color: red;
  border-color: red;
}

header {
  z-index: 1;
  height: 40px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  width: 40%;
  margin-left: 100px;
}
header .nav-links {
  min-width: 425px;
  word-spacing: 50px;
  margin-right: 50px;
}
header .nav-links a {
  color: white;
}
header .nav-links :hover:not(:last-child) {
  color: red;
}

.video-container {
  position: absolute;
  width: 100%;
  min-width: 1000px;
  height: 600px;
  z-index: -1;
  overflow: hidden;
}

main .top-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}
main .top-page h1 {
  font-size: 3em;
}
main .top-page .button {
  padding: 15 30;
}
main .technical-skills {
  margin-top: 250px;
}
main .technical-skills__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .technical-skills__text p {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  padding: 30px;
}
main .technical-skills__images, main .technical-skills__imginfo, main .technical-skills__imginfo * {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
main .technical-skills__imginfo {
  margin-top: 10px;
}
main .technical-skills__imginfo :nth-child(2) {
  margin-left: 20px;
}
main .cards h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
main .cards .card {
  min-width: 1100px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  padding: 10;
  margin-left: 10%;
}
main .cards .card__item {
  background-color: gray;
  max-width: 300px;
  min-width: 300px;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
main .cards .card__item .card__text {
  text-align: center;
}
main .cards .card__item .card__link {
  color: black;
  margin-left: 15%;
  margin-right: 10%;
}
main .cards .card__item .card__link:hover {
  color: red;
}
main .cards .card__img {
  height: 60%;
}
main .cards .card__text {
  height: 30%;
}
main .cards .card__button {
  margin-top: 15px;
}
main .about {
  background-color: #555252;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
}
main .about img {
  border-radius: 5px;
}

footer nav {
  width: 50%;
  margin-left: 25%;
  display: flex;
  justify-content: space-evenly;
  padding: 10;
}

@media screen and (max-width: 768px) {
  header .logo {
    display: none;
  }
  header .nav-links {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }

  main {
    width: 100%;
  }
  main .top-bar {
    border: 2px solid red;
  }
  main .cards .card {
    grid-template-columns: 100%;
    margin-left: 25%;
  }
  main .about {
    flex-direction: column;
  }

  footer nav {
    width: 100%;
    margin-left: 0;
  }
}